:root {
--B1_RGB:#c6d6e3;
--Gray_10:#e5e5e5;
--Gray_25:#bfbfbf;
--Gray_40:#999999;
--Gray_55:#737373;
--Gray_70:#4d4d4d;
--Gray_85:#262626;
--B4_RGB:#19305a;
--B3_RGB:#1818a5;
--B2_RGB:#5576d1;
--G4_RGB:#115740;
--G3_RGB:#009b77;
--G2_RGB:#6eceb2;
--G1_RGB:#bde9c9;
--R4_RGB:#a6093d;
--R3_RGB:#ff4635;
--R2_RGB:#ff8674;
--R1_RGB:#f8c1b8;
--V4_RGB:#440099;
--V3_RGB:#6638bd;
--V2_RGB:#9063cd;
--V1_RGB:#d2c6e6;
--Y4_RGB:#4a6a1d;
--Y3_RGB:#808c24;
--Y2_RGB:#f7cd00;
--Y1_RGB:#e9ec6b;
}